<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

	<property name="APPLICATION_PATTERN"
		value="%d{ISO8601} %highlight(%-5level) [%boldWhite(%t)] %yellow(%logger{32}): %msg%n%throwable" />
	<property name="SERVER_PATTERN"
		value="%d{ISO8601} %highlight(%-5level) [%boldWhite(%t)] %yellow(%logger{32}): %msg%n%throwable" />

	<appender name="APPLICATION_CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>${APPLICATION_PATTERN}</Pattern>
		</layout>
	</appender>

	<appender name="SERVER_CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>${SERVER_PATTERN}</Pattern>
		</layout>
	</appender>

	<logger name="com.example.projectname" level="INFO" additivity="false">
		<appender-ref ref="APPLICATION_CONSOLE_APPENDER" />
	</logger>

	<root level="INFO">
		<appender-ref ref="SERVER_CONSOLE_APPENDER" />
	</root>

</configuration>